<!DOCTYPE html>
<html>
<head>
    <title>{{ user.username }} - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <h1 class="title">{{ user.username }}</h1>
    </div>
    <div class="user-container">
        <div class="header-buttons">
            <a href="{{ url_for('home') }}" class="btn">HOME</a>
            <a href="{{ url_for('list_users') }}" class="btn">BACK TO USERS</a>
            <a href="{{ url_for('delete_user', user_id=user.user_id) }}" class="btn btn-delete">DELETE USER</a>
        </div>
        <form method="post" action="{{ url_for('add_movie', user_id=user.user_id) }}">
            <label for="movie_title" class="label_enter_movie">Enter Movie Title:</label>
            <input type="text" id="movie_title" name="movie_title" class="searchbar_movie" style="width: 300px;" required>
            <button type="submit" class="btn">ADD MOVIE</button>
        </form>
        <div class="movies-list">
            <ul class="list-of-cards">
                {% for movie in movies %}
                 <li>
                    <div class="card">
                        <div class="movie-poster" style="background-image: url('{{ movie['poster'] }}');"></div>
                        <div class="movie-details">
                            <p>{{ movie["title"] }}</p>
                            <p>Rating: {{ movie["rating"] }}</p>
                            <p>Year: {{ movie["year"] }}</p>
                        </div>
                        <div class="btn-container">
                            <a href="{{ url_for('update_movie', user_id=user.user_id, movie_id=movie['movie_id']) }}" class="btn">Edit</a>
                            <a href="{{ url_for('delete_movie', user_id=user.user_id, movie_id=movie['movie_id']) }}" class="btn">Delete</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>
